---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=waonwGNpALIjxmajGS9jEubeoAzdv3XA&location=london,uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 21:10:52 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"london,uk"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"London","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ENG","adminArea3Type":"State","adminArea1":"GB","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"GB/GEO/p0/3698","unknownInput":"","type":"s","latLng":{"lat":51.50015,"lng":-0.12624},"displayLatLng":{"lat":51.50015,"lng":-0.12624},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=waonwGNpALIjxmajGS9jEubeoAzdv3XA&type=map&size=225,160&locations=51.50015,-0.12624|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-88230460"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Longhope","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ENG","adminArea3Type":"State","adminArea1":"GB","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2c37f41a12e9f3ce42eb3bdbed5fd733&exclude=%7Bpart%7D&lat=51.50015&lon=-0.12624&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5002,"lon":-0.1262,"timezone":"Europe/London","timezone_offset":3600,"current":{"dt":1632863452,"sunrise":1632808578,"sunset":1632851152,"temp":54.77,"feels_like":54.27,"pressure":1011,"humidity":92,"dew_point":52.5,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":9.22,"wind_deg":220,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1h":3.07}},"minutely":[{"dt":1632863460,"precipitation":3.0732},{"dt":1632863520,"precipitation":2.9884},{"dt":1632863580,"precipitation":2.9036},{"dt":1632863640,"precipitation":2.8188},{"dt":1632863700,"precipitation":2.734},{"dt":1632863760,"precipitation":2.5972},{"dt":1632863820,"precipitation":2.4604},{"dt":1632863880,"precipitation":2.3236},{"dt":1632863940,"precipitation":2.1868},{"dt":1632864000,"precipitation":2.05},{"dt":1632864060,"precipitation":1.9064},{"dt":1632864120,"precipitation":1.7628},{"dt":1632864180,"precipitation":1.6192},{"d[...]
