---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2c37f41a12e9f3ce42eb3bdbed5fd733&exclude=%7Bpart%7D&lat=43&lon=116&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43,"lon":116,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1632716800,"sunrise":1632694104,"sunset":1632737141,"temp":60.94,"feels_like":58.05,"pressure":1015,"humidity":28,"dew_point":28.15,"uvi":4.73,"clouds":0,"visibility":10000,"wind_speed":11.01,"wind_deg":239,"wind_gust":14.79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1632716820,"precipitation":0},{"dt":1632716880,"precipitation":0},{"dt":1632716940,"precipitation":0},{"dt":1632717000,"precipitation":0},{"dt":1632717060,"precipitation":0},{"dt":1632717120,"precipitation":0},{"dt":1632717180,"precipitation":0},{"dt":1632717240,"precipitation":0},{"dt":1632717300,"precipitation":0},{"dt":1632717360,"precipitation":0},{"dt":1632717420,"precipitation":0},{"dt":1632717480,"precipitation":0},{"dt":1632717540,"precipitation":0},{"dt":1632717600,"precipitation":0},{"dt":1632717660,"precipitati[...]
