---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=waonwGNpALIjxmajGS9jEubeoAzdv3XA&location=estes%20park,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 19:36:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"estes
        park,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Estes
        Park","adminArea5Type":"City","adminArea4":"Larimer County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282027628","unknownInput":"","type":"s","latLng":{"lat":40.376131,"lng":-105.523654},"displayLatLng":{"lat":40.376131,"lng":-105.523654},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=waonwGNpALIjxmajGS9jEubeoAzdv3XA&type=map&size=225,160&locations=40.376131,-105.523654|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1279776911"}]}]}'
  recorded_at: Tue, 28 Sep 2021 19:36:45 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2c37f41a12e9f3ce42eb3bdbed5fd733&exclude=%7Bpart%7D&lat=40.376131&lon=-105.523654&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.3761,"lon":-105.5237,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632857806,"sunrise":1632833744,"sunset":1632876564,"temp":70.16,"feels_like":68.47,"pressure":1000,"humidity":34,"dew_point":40.51,"uvi":3.76,"clouds":91,"visibility":10000,"wind_speed":4,"wind_deg":360,"wind_gust":10,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1632857820,"precipitation":0},{"dt":1632857880,"precipitation":0},{"dt":1632857940,"precipitation":0},{"dt":1632858000,"precipitation":0},{"dt":1632858060,"precipitation":0},{"dt":1632858120,"precipitation":0},{"dt":1632858180,"precipitation":0},{"dt":1632858240,"precipitation":0},{"dt":1632858300,"precipitation":0},{"dt":1632858360,"precipitation":0},{"dt":1632858420,"precipitation":0},{"dt":1632858480,"precipitation":0},{"dt":1632858540,"precipitation":0},{"dt":1632858600,"precipitation":0},{"dt":1632858660,"precipitati[...]
