---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=zWdg0hrw9B_ko_vjy_V_NeiajAmylauXkKgg2WrlUNA&per_page=1&query=boise,id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=zWdg0hrw9B_ko_vjy_V_NeiajAmylauXkKgg2WrlUNA&page=1336&per_page=1&query=boise%2Cid>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=zWdg0hrw9B_ko_vjy_V_NeiajAmylauXkKgg2WrlUNA&page=2&per_page=1&query=boise%2Cid>;
        rel="next"
      X-Total:
      - '1336'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"f552717a372655415a1421e5cc029631"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1336,"total_pages":1336,"results":[{"id":"pfIF8iRxaKA","created_at":"2020-09-23T11:16:03-04:00","updated_at":"2021-09-26T21:18:58-04:00","promoted_at":"2020-09-26T04:09:02-04:00","width":2832,"height":4240,"color":"#262626","blur_hash":"L79jAXxZM{-o-ANGIooL0fNaNHNG","description":"keep
        warm","alt_description":"woman in brown long sleeve shirt wearing brown framed
        eyeglasses","urls":{"raw":"https://images.unsplash.com/photo-1600872164422-fb7b7fa03574?ixid=MnwyNjM0Mzh8MHwxfHNlYXJjaHwxfHxib2lzZSUyQ2lkfGVufDB8fHx8MTYzMjcxNTM4NQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1600872164422-fb7b7fa03574?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNjM0Mzh8MHwxfHNlYXJjaHwxfHxib2lzZSUyQ2lkfGVufDB8fHx8MTYzMjcxNTM4NQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1600872164422-fb7b7fa03574?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM0Mzh8MHwxfHNlYXJjaHwxfHxib2lzZSUyQ2lkfGVufDB8fHx8MTYzMjcxNTM4NQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1600872164422-fb7b7fa03574?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM0Mzh8MHwxfHNlYXJjaHwxfHxib2lzZSUyQ2lkfGVufDB8fHx8MTYzMjcxNTM4NQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1600872164422-fb7b7fa03574?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM0Mzh8MHwxfHNlYXJjaHwxfHxib2lzZSUyQ2lkfGVufDB8fHx8MTYzMjcxNTM4NQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/pfIF8iRxaKA","html":"https://unsplash.com/photos/pfIF8iRxaKA","download":"https://unsplash.com/photos/pfIF8iRxaKA/download","download_location":"https://api.unsplash.com/photos/pfIF8iRxaKA/download?ixid=MnwyNjM0Mzh8MHwxfHNlYXJjaHwxfHxib2lzZSUyQ2lkfGVufDB8fHx8MTYzMjcxNTM4NQ"},"categories":[],"likes":29,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"dg4S8j5TzmE","updated_at":"2021-09-26T23:26:07-04:00","username":"karsten116","name":"Karsten
        Winegeart","first_name":"Karsten","last_name":"Winegeart","twitter_username":"karsten116","portfolio_url":null,"bio":"IG
        - @karsten116","location":"Austin Texas","links":{"self":"https://api.unsplash.com/users/karsten116","html":"https://unsplash.com/@karsten116","photos":"https://api.unsplash.com/users/karsten116/photos","likes":"https://api.unsplash.com/users/karsten116/likes","portfolio":"https://api.unsplash.com/users/karsten116/portfolio","following":"https://api.unsplash.com/users/karsten116/following","followers":"https://api.unsplash.com/users/karsten116/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1583427783052-3da8ceab5579image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1583427783052-3da8ceab5579image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1583427783052-3da8ceab5579image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"karsten116","total_collections":1,"total_likes":409,"total_photos":587,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"karsten116","portfolio_url":null,"twitter_username":"karsten116","paypal_email":null}},"tags":[{"type":"search","title":"boise"},{"type":"search","title":"id"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Mon, 27 Sep 2021 04:04:40 GMT
recorded_with: VCR 6.0.0
