---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=waonwGNpALIjxmajGS9jEubeoAzdv3XA&location=boise,id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 03:02:02 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boise,id"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boise","adminArea5Type":"City","adminArea4":"Ada
        County","adminArea4Type":"County","adminArea3":"ID","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282087392","unknownInput":"","type":"s","latLng":{"lat":43.615791,"lng":-116.201579},"displayLatLng":{"lat":43.615791,"lng":-116.201579},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=waonwGNpALIjxmajGS9jEubeoAzdv3XA&type=map&size=225,160&locations=43.615791,-116.201579|marker-sm-50318A-1&scalebar=true&zoom=12&rand=324313717"}]}]}'
  recorded_at: Mon, 27 Sep 2021 03:02:02 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=2c37f41a12e9f3ce42eb3bdbed5fd733&exclude=%7Bpart%7D&lat=43.615791&lon=-116.201579&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.6158,"lon":-116.2016,"timezone":"America/Boise","timezone_offset":-21600,"current":{"dt":1632711722,"sunrise":1632663414,"sunset":1632706503,"temp":70.03,"feels_like":68.23,"pressure":1011,"humidity":32,"dew_point":38.86,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.75,"wind_deg":120,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1632711780,"precipitation":0},{"dt":1632711840,"precipitation":0},{"dt":1632711900,"precipitation":0},{"dt":1632711960,"precipitation":0},{"dt":1632712020,"precipitation":0},{"dt":1632712080,"precipitation":0},{"dt":1632712140,"precipitation":0},{"dt":1632712200,"precipitation":0},{"dt":1632712260,"precipitation":0},{"dt":1632712320,"precipitation":0},{"dt":1632712380,"precipitation":0},{"dt":1632712440,"precipitation":0},{"dt":1632712500,"precipitation":0},{"dt":1632712560,"precipitation":0},{"dt":1632712620,"precipitati[...]
